table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: lightgray solid 1px;
    padding: 10px;
}

body {
    margin: 0 8px 0 0;
}

li {
    margin-left: -15px;
}

.indent {
    margin-left: 40px;
}

.nowrap {
    white-space: nowrap;
}

.toc {
    float: left;
    width: 20%;
    height: 100vh;
    overflow-x: auto;
}

.main {
    float: left;
    width: 80%;
    height: 100vh;
    overflow-x: auto;
    padding: 0;
}

.enumHead {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    background: #fcd5ab;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.enumBody {
    border: 1px solid black;
    border-top-width: 0;
    padding: 10px;
    display: block;
}

.commandScope {
}

.commandScopeHead {
    background: white;
}

.commandHead {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    background: #fcd5ab;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.commandBody {
    border: 1px solid black;
    border-top-width: 0;
    padding: 10px;
    display: block;
}

.commandDescription {
    margin-top: 0;
}

.commandErrors {
    margin-bottom: 0;
}

.commandErrors li {
    margin-bottom: 5px;
}

.commandErrors li:last-child {
    margin-bottom: 0;
}

.stateError {
    font-weight: bold;
}

.messageHead {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    background: #fcd5ab;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.messageBody {
    border: 1px solid black;
    border-top-width: 0;
    padding: 10px;
    display: block;
}

.messageDescription {
    margin-top: 0;
}

.gameEventHead {
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    background: #fcd5ab;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.gameEventBody {
    border: 1px solid black;
    border-top-width: 0;
    padding: 10px;
    display: block;
}

.gameEventDescription {
    margin-top: 0;
}

.code {
    background: #eeeeee;
    padding: 5px;
    font-family: monospace;
}

span.code {
    padding: 2px;
}

.code_json_key {
    color: darkblue;
    font-weight: bold;
}

.code_json_string {
    color: green;
}

.code_json_boolean {
    color: blue;
}

.code_json_null {
    color: darkblue;
}

.code_json_comment {
    color: gray;
}
